<div class='loginBox'>
  <mat-card class='loginCard'>
    <mat-card-header>
    <mat-card-title>
      <h2>Enter your pin number</h2>
    </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><span><mat-icon>lock</mat-icon><input mat-input type='text' placeholder='ex. 2319'></span></p>
    </mat-card-content>
    <mat-card-footer>
      <span><button color='warn' mat-raised-button mat-icon><mat-icon>arrow_right_alt</mat-icon>Login</button></span>
    </mat-card-footer>
  </mat-card>
</div>